/*SIMPLE*/

.grid--simple {
 grid-template-columns: repeat(12, 1fr);
 gap: clamp(10px, 4vw, 4em);
 /* gap: max(3.8em, 30px); */
 .grid__item--half {
  grid-column: span 6;
  img {
   aspect-ratio: 2/1.25;
  }
  @include bp(500px) {
   grid-column: 1/-1;
  }
 }
 .grid__item--big {
  display: grid;
  grid-template-areas: "stac";
  grid-column: 1 / -1;
  .grid__media {
   grid-area: stac;
   aspect-ratio: 2/1;
  }
  .grid__icon {
   grid-area: stac;
   place-self: center;
   padding: 2em;
   border: 2px solid;
   border-radius: 100%;
   color: #fff;
   z-index: 2;
  }
 }
 .grid__item--third {
  grid-column: span 4;
  img {
   aspect-ratio: 1/1;
  }
  @include bp(500px) {
   grid-column: 1/-1;
   img {
    aspect-ratio: 2/1.25;
   }
  }
 }
}
